.container {
    width: 100%;
    height: 100%;
    overflow: auto;
    table {
        border: var(--go-ui-width-separator-sm) solid
            var(--go-ui-color-separator);

        border-bottom: none;
        th {
            background: var(--go-ui-color-gray-20);
        }
        td {
            background: var(--go-ui-color-white);
        }
    }
}
.withPadding {
    padding: var(--go-ui-spacing-lg) var(--go-ui-spacing-xl);
}
