.fileInput {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--go-ui-spacing-sm);
    @media (max-width: 768px) {
        flex-direction: column;
    }
    p {
        word-break: break-all;
    }
}
