.fileInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--go-ui-spacing-sm);
    .inputSection {
        display: flex;
        align-items: center;
        gap: var(--go-ui-spacing-sm);

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    p {
        word-break: break-all;
    }
}