.page {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    background: var(--go-ui-color-gray-10);
    .leftPane {
        display: flex;
        flex-direction: column;
        background-color: var(--go-ui-color-white);
        gap: var(--go-ui-spacing-md);
    }
}
