.page {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;

    .leftPane {
        display: flex;
        flex-direction: column;
        background-color: var(--go-ui-color-white);
        gap: var(--go-ui-spacing-md);
    }
}
