.page {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;

    .leftPane {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 4px 0px rgba(227, 227, 227, 0.25);
        background-color: var(--go-ui-color-white);
        gap: var(--go-ui-spacing-md);
    }
}
