.nav {
    border-right: 2px solid var(--go-ui-color-gray-20);
    padding-right: 2px;
    min-width: 320px;
    height: 100%;
    overflow-x: hidden;
    .nav {
        border: none;
        padding-right: 0;
    }
    .navHeaderContainer {
        border-bottom: 2px solid var(--go-ui-color-gray-20);
        background-color: var(--go-ui-color-gray-10);
        padding: var(--go-ui-spacing-lg) var(--go-ui-spacing-2xl);
        width: 100%;
        .navHeader {
            display: flex;
            justify-content: space-between;
        }
    }
    .navContent {
        display: flex;
        flex-direction: column;
        .routeLink {
            border-right: 2px solid var(--go-ui-color-gray-20);
            border-bottom: 2px solid var(--go-ui-color-gray-20);
            padding: var(--go-ui-spacing-lg) var(--go-ui-spacing-2xl);
            &:hover {
                color: var(--go-ui-color-primary-red);
            }
        }

        .activeRoute {
            text-decoration: underline;
            color: var(--go-ui-color-primary-red);
        }
    }
    .group {
        .navHeaderContainer {
            background: none;
            font-weight: var(--go-ui-font-weight-normal);
        }
        .leaf {
            padding-left: var(--go-ui-spacing-3xl);
        }
    }
}
