body {
    line-height: var(--go-ui-line-height-md);
    color: var(--go-ui-color-text);
    font-family: var(--go-ui-font-family-sans-serif);
    font-size: var(--go-ui-font-size-md);
    font-weight: var(--go-ui-font-weight-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--go-ui-color-gray-20);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--go-ui-color-gray-30);
}


table {
    border: var(--go-ui-width-separator-sm) solid var(--go-ui-color-separator);
    border-bottom: none;

    td {
        background: var(--go-ui-color-white);
    }
}

a {
    text-decoration: none;
    color: inherit;
}