.container {
  padding: var(--go-ui-spacing-2xl);
  width: 100%;
  overflow: auto;

  .child-container {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-lg);
  }

  .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    gap: var(--go-ui-spacing-xl);
  }

  @media (width <= 1068px) {
    .content {
      grid-template-columns: 1fr;
    }
  }
}
