.editor {
    display: flex;
    flex-direction: row;
    background-color: var(--color-background);
    font-size: var(--font-size-lg);
    gap: var(--go-ui-spacing-md);
    border: 1px solid var(--go-ui-color-gray-20);
    position: relative;
    border-radius: var(--go-ui-spacing-sm);
    min-height: var(--go-ui-width-min-modal);
    > * {
        flex: 1;
    }
}

.editor p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: var(--go-ui-spacing-md) 0;
}

.editor ul,
.editor ol {
    padding-left: var(--go-ui-spacing-xl);
}
.editor li {
    margin: 4px 0;
}

.editor a {
    text-decoration: underline;
    color: var(--go-ui-color-dark-blue-20);
    &:hover {
        color: var(--go-ui-color-dark-blue-30);
    }
}
