.login-container {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: var(--go-ui-spacing-2xl) var(--go-ui-spacing-lg);
    height: 100%;
    gap: var(--go-ui-spacing-xl);

    .login-form {
        display: flex;
        flex-direction: column;
        padding-bottom: var(--go-ui-spacing-xl);
        width: 100%;
        max-width: var(--go-ui-width-content-max);
        gap: var(--go-ui-spacing-xl);

    }
}