.navbar {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    border-bottom: var(--go-ui-width-separator-thin) solid var(--go-ui-color-primary-red);
    background-color: var(--go-ui-color-white);
    padding: var(--go-ui-spacing-xs) var(--go-ui-spacing-sm);

    .title {
        text-transform: capitalize;
        color: var(--go-ui-color-red);
    }

    .user-info {
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    .user-initial {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--go-ui-color-semantic-yellow);
        width: var(--go-ui-spacing-2xl);
        height: var(--go-ui-spacing-2xl);
    }
}