.container {
    width: 100%;
}
.containerChild {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: var(--go-ui-spacing-sm);
    background: var(--go-ui-color-gray-10);
    overflow: auto;
}
.containerChild > * {
    background: var(--go-ui-color-white);
}

.inputClassName {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--go-ui-spacing-xl);
}
.fileUpload {
    display: flex;
    align-items: center;
    gap: var(--go-ui-spacing-sm);
}
.submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--go-ui-spacing-lg) var(--go-ui-spacing-xl);
}

.inputClassName > * {
    flex: 1;
    display: flex;
    gap: var(--go-ui-spacing-sm);
}

.actionLinkRow {
    width: 100%;
    display: flex;
    gap: var(--go-ui-spacing-sm);
    align-items: center;
    margin-bottom: var(--go-ui-spacing-sm);
    > * {
        flex-grow: 1;
    }
}
